Repository hanish-rishen/LoanWise, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, api, ui/ux, configuration, documentation, tests, dependencies, workflows

docs: simplify Git workflow to work on main branch only
  COMMIT_GUIDE.md
Labels: documentation

feat: initialize LoanWise loan application platform
  eslint.config.js
  index.html
  package.json
  postcss.config.js
  src/App.tsx
  src/index.css
  src/main.tsx
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: frontend, backend, ui/ux, configuration, dependencies

feat(db): set up database schema and connection
  database-schema.sql
  setup-db.js
  src/database.ts
  src/db.ts
  src/dbOperations.ts
  src/schema.ts
Labels: frontend, backend, database, api

feat(auth): implement Clerk authentication system
  src/App.tsx
  src/components/LoginPage.tsx
Labels: frontend, ui/ux

feat(chat): implement text-based chat interface
  COMMIT_GUIDE.md
  src/components/ChatInterface.tsx
Labels: frontend, ui/ux, documentation

feat(ui): create responsive header component
  src/components/Header.tsx
Labels: frontend, ui/ux

feat(ai): implement advanced conversational AI system
  src/services/conversationalAI.ts
Labels: frontend, api

fix: update dependencies and add GitHub Actions workflow
  .github/workflows/main.yml
  package-lock.json
  package.json
Labels: configuration, dependencies, workflows

feat(ai): add conversational AI service
  src/services/conversationalAI.ts
Labels: frontend, api

feat(ui): implement navigation sidebar with conversation history
  src/components/Sidebar.tsx
Labels: frontend, ui/ux

fix(ci): resolve GitHub Actions workflow failures
  .eslintignore
  eslint.config.js
  package.json
  src/components/ChatInterface_new.tsx
  src/components/Header.tsx
  src/services/voiceService.ts
  tsconfig.eslint.json
  tsconfig.node.json
Labels: frontend, backend, api, ui/ux, configuration, dependencies

fix(ci): sync package-lock.json with package.json
  package-lock.json
Labels: dependencies

.github/labeler.yml:

# Auto-labeling configuration
# Labels PRs based on which files are changed

frontend:
  - src/**/*
  - public/**/*
  - index.html
  - vite.config.ts

backend:
  - "*.js"
  - database-schema.sql
  - setup-db.js
  - check-tables.js

database:
  - database-schema.sql
  - src/schema.ts
  - src/db*.ts
  - "**/db*.ts"

api:
  - src/services/**/*
  - src/dbOperations*.ts

ui/ux:
  - src/components/**/*
  - src/index.css
  - tailwind.config.js
  - postcss.config.js

configuration:
  - "*.config.*"
  - ".*rc*"
  - ".env*"
  - package.json
  - tsconfig*.json

documentation:
  - "**/*.md"
  - docs/**/*

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - test-*.js

dependencies:
  - package.json
  - package-lock.json

workflows:
  - .github/**/*
